body header{
    background-color: blueviolet;
    color:aqua;
    text-align: center;
}
#card {
    display: flex;
    flex-direction: column;
    margin:auto;
    justify-content:space-around;
    align-content: center;
    border-radius: 30px;
    width: 40%;
    height: 400px;
    text-align: center;
    background-color: brown;
    color:aqua;
    font-size: x-large;
    line-height: 120%;
}
#card button{
    background-color: darkred;
    color: inherit;
    border:0px;
    font-size: inherit;
}
#card ol{
    font-size: xx-large;
}
#card ol li:hover{
    color: blue;
}